
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px 20px;
    color: white;
}

.logo img {
    height: 50px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    position: relative;
}

nav ul li a {
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    display: block;
}

nav ul li a:hover,
.dropdown:hover .Menupai {
    background-color: #555;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #333;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    min-width: 160px;
}

.dropdown-menu a {
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-menu a:hover {
    background-color: #555;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

section {
    padding: 20px;
}

.destaque {
    background-color: #f4f4f4;
    padding: 20px;
}

.produtos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.produto-item {
    background-color: #f9f9f9;
    padding: 20px;
    margin: 10px;
    border: 1px solid #ddd;
    width: 30%;
    box-sizing: border-box;
}
